{% extends "base_generic.html" %}
{% load static %}

{% block title %}Résultats de recherche{% endblock %}

{% block header %}
    <h1 class="text-uppercase text-white font-weight-bold">
        {{ product_to_replace.name }}
    </h1>
{% endblock %}

{% block content %}
    <h2>Vous pouvez remplacer cet aliment par :</h2>
    {% if object_list %}
        <div class="row mt-3">
            {% for product in object_list %}
                <div class="col-xs-12 col-sm-4 col-md-4 gutter-xs-xs gutter-margin-xs-xs mb-3">
                    <div class="card">
                        <a href="{% url 'products:detail' product.code %}">
                        {% if product.image %}
                        <img src="{{ product.image }}" class="card-img-top product-thumb" alt="">
                        {% else %}
                        <img src="{% static 'img/product.jpg'%}" alt="" class="card-img-top product-thumb">
                        {% endif %}
                        {% if product.nutritionGrade %}
                            <span class="grade grade-{{ product.nutritionGrade }}"><b>{{ product.nutritionGrade|upper }}</b></span>
                        {% endif %}
                        <div class="card-body pt-1 pb-3">
                            <p class="card-title"><b>{{ product.name|title|truncatechars:19 }}</b></p></a>
                            
                            {% if user.is_authenticated %}

                                {% if product.code in in_fav %}
                                    <form method="POST" action="{% url 'products:delete' product.code product_to_replace.code %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-secondary"><i class="fas fa-trash"></i> Supprimer</button>
                                    </form>
                                    {% else %}
                                    <form method="POST" action="{% url 'products:save' product.code product_to_replace.code %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Sauvegarder</button>
                                    </form>
                                {% endif %}
                                
                            {% endif %}
                        </div>
                      </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?code={{ product_to_replace.code }}&page=1">&laquo; Début</a>
                    <a href="?code={{ product_to_replace.code }}&page={{ page_obj.previous_page_number }}">&lt; Précédent</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?code={{ product_to_replace.code }}&page={{ page_obj.next_page_number }}">Suivant &gt;</a>
                    <a href="?code={{ product_to_replace.code }}&page={{ page_obj.paginator.num_pages }}">Fin &raquo;</a>
                {% endif %}
            </span>
        </div>

    {% else %}
        <p>Désolé, on n'a pas trouvé mieux !</p>
    {% endif %}

{% endblock %}