{% extends "base_generic.html" %}

{% block title %}Favoris{% endblock %}

{% block header %}
    <h1 class="text-uppercase text-white font-weight-bold">
        Aliments Favoris
    </h1>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
        <p>Bonjour, {{ user.username }}. Voici vos aliments favoris.</p>
        <h1>Liste des aliments enregistrés</h1>
        
        {% if favourites %}
            <ul>
            {% for favourite in favourites %}
                <li>{{ favourite.healthy_product.name }} remplace {{ favourite.unhealthy_product.name }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Pas encore de favoris enregistrés.</p>
        {% endif %}
        

        {% else %}
            <p>Pour voir vos favoris, veuillez vous connecter ou créer un compte.</p>
        {% endif %}
{% endblock %}