{% extends "base_generic.html" %}
{% load static %}

{% block header %}
    <h1 class="text-uppercase text-white font-weight-bold">
        Login
    </h1>
{% endblock %}


{% block content %}
    {% if form.errors %}
    <p>Le mot de passe et le nom d'utilisateur ne correspondent pas, réessayez.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Votre compte ne vous permet pas d'accéder à cette pager.</p>
        {% else %}
        <p>Veuillez vous <a href="{% url 'login' %}">connecter</a>.</p>
        {% endif %}
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="Se connecter" class="btn btn-primary">
    <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Mot de passe perdu ?</a> | <a href="{% url 'account:signup' %}">Créer un compte</a></p>
{% endblock %}