/* <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet" type="text/css">
 */

:root {
    --rooibos:#C45525;
    --moules:#345A61;
    --rigolo:#86EBE6;
    --caramel:#DE9440;
    --biscuit:#E8A75D;
}

body {
    font-size: 100%;
}
  
h1 {
    color: var(--rigolo);
    font-size: 2.5em;
}

h2 {
    color: var(--rooibos);
    font-size: 1.875em;
}

p {
    font-family: "Scope One", sans-serif;
    font-size: 0.875em;
}

h1 h2 h3 h4{
    font-family: "Open Sans", sans-serif;
}

