{% extends "base_generic.html" %}

{% block title %}Mentions légales{% endblock %}

{% block header %}
<!-- Masthead -->
  <h1 class="text-uppercase text-white font-weight-bold">
    Mentions légales
  </h1>
{% endblock %}

{% block content %}

<p>
  Le présent site, accessible à partir de l’adresse est édité par l'entreprise Pur Beurre.
</p>

<blockquote>Adresse postale : 18 rue de la butte aux Cailles, 75000 <b>Paris</b>, France
Adresse email : remietcollette@purbeurre.com
Téléphone : (+33)1 22 33 44 55
SIRET : n° 123 45566 890
</blockquote>

<p>
  La directrice de la publication du site est Colette Raton.
</p>

<p>
  Les images utilisées sur ce site sont soit CC0 soit la propriété exclusives de Pixar (photos de portrait).<br>
  Les icônes de menu utilisées sur ce site proviennent du site <a href="https://thenounproject.com/luizcarvalhoid/collection/user-interface-set-2/">nounproject</a> sous licence CC BY ND.
</p>

{% endblock %}