{% extends "base_generic.html" %}

{% block title %}Polls{% endblock %}

{% block content %}
{% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
            <h1>Liste des questions</h1>
            
            {% if latest_question_list %}
                <ul>
                {% for question in latest_question_list %}
                    <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}

        {% else %}
            <p>Welcome, new user. Please log in.</p>
        {% endif %}
{% endblock %}